html, body {
    padding: 0;
    margin: 0;
}

.name{
    text-align: left;
    accent-color: lightslategray;
    border: black solid 3px;
    border-radius: 50px;
    padding:15px;
    top: 2%;
    z-index: 6;
    position: fixed;
    font-family: "Avenir";
    transform: translate(-50%, -50%);
    margin-top: 25px;
    margin-left: 9%;
    font-size: 18px;
    font-weight: 600;
}

.main-nav{
    background-color: #CCCCCC;
    width: 100%;
    min-height: 40px;
    padding: 1.22%;
    margin-left:0%;
    position: fixed;
    text-align: center;
    top: 0px;
    z-index: 5;
    font-size: 20px;
    font-family: "Avenir";
    transform: translate(-50%, -50%);
    margin-top: 40px;
    margin-left: 50%;
    font-weight: 700;
    padding-top: 40px;
}

.links{
    min-height: 30px;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-top: 100px;
    font-family: "Avenir";
    background-color: #CCCCCC;
    font-size: 19px;
    font-weight: 500;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.first-text-background{
    z-index: 10;
    color: black;
    font-family: "Avenir";
    line-height: 30px;
    background-color: #F4F2F3;
    margin-right: 18%;
    margin-left: 18%;
    padding-bottom: 30%;
    font-size: 20px;
    border-radius: 40px;
    padding-left: 20px;
    padding-top: 15px;
    margin-bottom: 10%;
}
.title-1{
    font-size: 45px;
    margin-top: 15%;
    margin-left:19%;
}
.HomeButton{
    padding-left: 1%;
    margin-right: 8px;
}
.InfoButton{
    margin-left: 83%;

}

a{
    text-decoration: none;
}
body{
    background-color: white;
}


