html, body {
    padding: 0;
    margin: 0;
}

.name{
    text-align: left;
    accent-color: lightslategray;
    border: black solid 3px;
    border-radius: 50px;
    padding:15px;
    top: 2%;
    z-index: 6;
    position: fixed;
    font-family: "Avenir";
    transform: translate(-50%, -50%);
    margin-top: 25px;
    margin-right: 65%;
    font-size: 18px;
    font-weight: 600;
}

.main-nav{
    background-color: #CCCCCC;
    width: 100%;
    min-height: 40px;
    padding: 20px;
    position: fixed;
    text-align: center;
    top: 0px;
    z-index: 5;
    font-size: 20px;
    font-family: "Avenir";
    transform: translate(-50%, -50%);
    margin-top: 40px;
    margin-left: 100%;
    font-weight: 700;
    padding-top: 40px;
}

.links{
    min-height: 30px;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-top: 100px;
    font-family: "Avenir";
    background-color: #CCCCCC;
    font-size: 19px;
    font-weight: 500;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.picture-test{
    margin-bottom: 30%;
    margin-top: 130%;
}

button{
    margin-left: 50%;
    margin-bottom: 50%;
}

.age-Days{
    margin-top: 70%;
    font-size: 2px;
}

.date-input{
    margin-bottom: 51%;
    padding : 5px;
}

.button-calculator{
    margin-top: 2%;
}

.button-calculator{
    margin: 3px;
}

h5{
    text-align: left;
    top: 35px;
    margin-top: 30px;
    font-family: "Avenir";
}

.myH9{
    text-align: left;
    padding:15px;
    top: 25px;
    font-family: "Avenir";
    font-size: 20px;
}

.myH8{
    text-align: left;
    padding:15px;
    top: 25px;
    font-family: "Avenir";
    font-size: 20px;
}

.myH7{
    text-align: left;
    padding:15px;
    top: 25px;
    font-family: "Avenir";
    font-size: 20px;
}

.myH10{
    text-align: left;
    padding:15px;
    top: 25px;
    font-family: "Avenir";
    font-size: 20px;
}

.button-calculator{
    z-index: 3;
    text-align: left;
    padding:15px;
    top: 35px;
    margin-top: 1%;

;}

.BirthdayField{
    z-index: 1;
    text-align: left;
    padding:15px;
    top: 1%;
    margin-top: 30px;
    margin-left: 42.25%;
    font-family: "Avenir";
    margin-top: 10%;
}

.TextEnterBirthday{
    text-align: center;
    padding:15px;
    top: 35px;
    margin-top: 70px;
    font-family: "Avenir";
    font-size: 80px;
    font-weight: 600;
    color: white;
    -webkit-text-stroke: 3px black;
}

.PicturesEarth{
    text-align: center;
    margin-top: -1270px;
    text-align: center;
    z-index: 0;
    font-size: 24px;
    animation: rotate 120s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
}

.DaysOnEarth{
    z-index: 2;
    margin-top: 250px;
    font-size: 1000%;
    color: white;
    font-family: Avenir;
    -webkit-text-stroke: 3px black;
}

.HomeButton{
    padding-left: 1%;
}

.InfoButton{
    margin-left: 85%;
}

a{
    text-decoration: none;
}
.calculatedAnswer{
    font-size: 25px;
    font-weight: 550;
}
